@font-face {
    font-family: gothaProMedium;
    src: url(../fonts/GothamProMediumItalic.ttf);
}
  
@font-face {
  font-family: gothaProBla;
  src: url(../fonts/GothaProBla.otf);
}

@font-face {
  font-family: gothaProBol;
  src: url(../fonts/GothaProBol.otf);
}

@font-face {
  font-family: gothaProLig;
  src: url(../fonts/GothaProLig.otf);
}

@font-face {
  font-family: gothaProLigIta;
  src: url(../fonts/GothaProLigIta.otf);
}

@font-face {
  font-family: gothaProMed;
  src: url(../fonts/GothaProMed.otf);
}

@font-face {
  font-family: gothaProReg;
  src: url(../fonts/GothaProReg.otf);
}
a:any-link {
    text-decoration: none;
    color: inherit;
}

* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: gothaProBol;
}
body {
    font-size: 12px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}
img {
    height: 100%;
    object-fit: contain;
}

/* HEADER START */
.home-header {
    position: fixed;
    width: 100%;
    z-index: 999;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.logo-header {
    width: 70px;
    height: 57px;
}
.header-right-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-header {
    height: 100%;
    align-items: center;
}
.nav-header-ul {
    height: 100%;
    display: flex;
    align-items: center;
}
.nav-header-li a {
    margin-right: 70px;
    position: relative;
}
.nav-header-li {
    position: relative;
}
.nav-header-li a:hover::after {
    content: '';
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 2px;
    height: 36px;
    background-color: #171717;
}
.nav-header-li:last-child {
    margin-right: 100px;
}
.toggled-ul {
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;
    border: 2px solid rgba(23, 23, 23, 0.3);
}
.tog-li:hover .toggled-ul {
    display: unset;
}
.toggled-li a {
    display: block;
    padding: 9px 16px 9px 16px;
    color: #171717;
    font: 10px gothaProBol;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}


.lang-item {
    display: none;
}
.lang-item.lang-item-active {
    display: flex;
}
.language-changer {
    font-size: 13px;
    color: #fff;
    background-color: #418B3D;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
}
.lang-item {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
/* HEADER END */

/* MAIN SLIDER!!!!!!!!!!!!!!!!!!!!!!!!!! */
.main-slider {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
    .main-wrapper {
        height: 100%;
        width: 100%;
    }

/* START MAIN */

.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 56px 75px;
}
    .main-upside {
        display: flex;
        flex-grow: 1;
    }
        .main-article {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin-right: 90px;
        }
            .main-article h1 {
                font-size: 76px;
                line-height: 86px;
            }
            .jff {
                font-family: gothaProReg;
                font-size: 17px;
                line-height: 28px;
                display: flex;

            }
                .line {
                    display: block;
                    background: linear-gradient(30deg, #003114 0%, #438E3E 100%) 0% 0% no-repeat padding-box;
                    width: 30px;
                    margin-right: 32px;
                }
            .selecting-boxes-for-main-image {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
            }
                .each-selecting-box {
                    height: 100%;
                    margin: 0 8px;
                    display: flex;
                    flex-direction: column;
                }
                    .each-selecting-box p {
                        text-align: center;
                        font-family: gothaProMedium;
                        font-size: 14px;
                        line-height: 16px;
                    }
                    .bottle-little {
                        height: 72px;
                    }
                    .bottle-big {
                        height: 127px;
                    }

        .main-chosen-photo {
            width: 26vmin;
            display: flex;
            align-items: center;
        }
        .main-chosen-photo img {
            height: 45vmin;
        }
    .ingredients {
        flex-basis: 1;
        flex-shrink: 0;
        display: flex;
        justify-content: space-evenly;        
    }
        .each-ingr {
            height: 80px;
        }